* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #502d35;
  --accent: #fffa63;
  --light: #fffcf8;
  --section-bg: #f1f0dc;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* OPEN */

.open {
  height: 100vh;
  width: 100%;
  position: relative !important;
}
.open img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.navbar-wrapper {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 9;
}
.navbar {
  padding: 8px 10px;
  background: #fffa63 !important;
}
.navbar img {
  height: 27px;
  width: 148px;
}
.nav-item a {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 10px 25px !important;
}
.nav-btn {
  position: relative;
  display: inline-block;
  width: fit-content; /* 🔥 prevents full width */
  align-self: center; /* prevents stretch inside flex */
  border: none;
  background: transparent;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px 0;
}
.nav-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: black;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.nav-btn:hover::after {
  transform: scaleX(1);
}

/*  open-main */
.open h1 {
  position: absolute;
  color: #fffa63;
  font-size: 100px;
  top: 22%;
  left: 34px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  animation: slideDown 1.2s ease forwards;
}
.property {
  display: flex;
  justify-content: space-between;
  position: absolute;
  /* top: 20%; */
  bottom: 9%;
  left: 0;
  right: 0;
  padding: 0px 35px;
}
.property-right {
  gap: 10px;
  padding: 15px;
  background: white;
  display: flex;
  position: relative;
  align-items: center;
}

.pr-img img {
  width: 129px;
  height: 128px;
  object-fit: cover;
}
.para-prop {
  font-size: 16px;
  color: var(--primary);
  padding: 0 0 60px 0;
}
.span-prop {
  font-size: 16px;
  color: var(--primary);
}
.property-left p {
  font-size: 23px;
  color: #fffa63;
}

.property-left button {
  color: var(--primary);
  padding: 10px 20px;
  font-size: 16px;
  background: var(--accent);
  border: none;
  margin: 31px 0 0 0;
  transition: transform 0.5s ease;
}
.property-left button:hover {
  transform: translatey(-4px);
}

.sold-tag {
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: var(--accent);
  top: -60px;
  right: -20px;
  /* transform: rotate(-39deg); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.sold-para {
  color: var(--primary);
  font-size: 19px;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  text-transform: uppercase;
}

/* current-prop */
.bglayer-1 {
  padding: 60px 0px;
}
.bglayer-1 p {
  font-size: 15px;
  color: var(--primary);
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
}
.bglayer-1 h2 {
  font-size: 40px;
  color: var(--primary);
  text-align: center;
  font-family: "Playfair Display", serif;
}
.prop-img {
  width: 100%;
  height: 900px;
  position: relative;
}
.prop-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* position: relative; */
}
.prop-info {
  padding: 20px;
  background: white;
  position: absolute;
  top: 50px;
  left: 50px;
  max-width: 300px;
}
.num-span {
  font-size: 15px;
  color: var(--primary);
}
.prop-info h3 {
  font-size: 34px;
  color: var(--primary);
  margin: 15px 0;
}
.prop-info p {
  color: var(--primary);
  font-size: 15px;
  margin: 20px 0 90px 0;
}
.pi-about {
  padding: 15px 0px;
  border-top: 1px solid #502d35;
}
.pi-about span {
  font-size: 16px;
  color: var(--primary);
  text-align: center;
}

/* Guidance */
.guidance {
  padding: 60px 0px;
}
.guidance-left p {
  font-size: 15px;
  color: var(--primary);
  font-family: "IBM Plex Mono", monospace;
}
.guidance-left h2 {
  font-size: 39px;
  color: var(--primary);
  font-family: "Playfair Display", serif;
}
.gr-text {
  display: flex;
  align-items: center;
  gap: 19px;
  /* justify-content: space-between; */
  padding: 40px 0px;
  align-items: flex-start;
  border-bottom: 1px solid #502d35;
  border-top: 1px solid #502d35;
}
.grtext-one {
  width: 60px; /* fixed width for numbers */
  flex-shrink: 0;
}
.grtext-two {
  width: 120px; /* fixed width for headings */
  flex-shrink: 0;
}

.grtext-three {
  flex: 1; /* paragraph takes remaining space */
}
.g-para {
  font-size: 16px;
  color: var(--primary);
}
.g-head {
  font-size: 17px;
  color: var(--primary);
}
.g-num {
  font-size: 15px;
  color: var(--primary);
}
/* portfolio */
.home-portfolio {
  background: var(--section-bg);
  padding: 50px 0px;
}
.span-port {
  font-size: 15px;
  color: var(--primary);
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  justify-content: center;
  margin: 0px 0px 19px 0;
}
.pc-top {
  border-bottom: 1px solid #502d35;
  padding: 20px 0px;
}
.port-heading {
  font-size: 40px;
  color: var(--primary);
  text-align: center;
}
.portfolio-card {
  /* padding: 35px; */
  background: var(--accent);
  margin: 40px 0 0 0;
  /* display: flex;
    flex-direction: column;
    gap: 150px; */
}
.pc-head {
  font-size: 19px;
  color: var(--primary);
  text-align: center;
}
.para-card {
  font-size: 16px;
  color: var(--primary);
}
.pc-btm {
  padding: 200px 76px 30px 25px;
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.port-btn {
  padding: 10px 25px;
  background: #502d35;
  color: #fffcf8;
  border: none;
  outline: none;
  font-size: 16px;
  margin-top: 30px;
  transition: text-decoration 0.5s ease;
}
.port-btn:hover {
  text-decoration: underline;
}

/* author */
.author {
  background: #502d35;
  padding: 30px;
}
.author-card {
  background: white;
  padding: 50px;
  text-align: center;
}
.auth-img {
  height: 300px;
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
}
.auth-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.meet {
  font-size: 15px;
  color: var(--primary);
  text-align: center;
}
.auth-name {
  font-size: 40px;
  color: var(--primary);
  font-family: "Playfair Display", serif;
  text-align: center;
  margin: 5px 0 20px 0;
}
.auth-desc {
  font-size: 16px;
  color: var(--primary);
  text-align: center;
  margin: 20px 0 0 0;
}

/* recent sales */
.sales-left{
  background: var(--light);
  padding: 40px 30px 0px 20px;
}
.sales-left h2{
  font-size: 40px;
  color: var(--primary);
  font-family:Playfair Display", serif ;
}
.sr-img{
  height: 600px;
  width: 100%;
  position: relative;
}
.sr-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.sales-info {
    padding: 9px 6px 2px 9px;
    background: var(--accent);
    position: absolute;
    top: 30px;
    max-width: 250px;
    left: 20px;
}
.si-head{
  font-size: 17px;
  color: var(--primary);
  margin: 0 0 15px;
}
.si-para{
  font-size: 16px;
  color: var(--primary);
  margin: 10px 0px;
}
.si-span{
  font-size: 15px;
  color: var(--primary);
}
.si-cont{
  padding: 8px 0px;
  border-top: 1px solid #502d35;
}

/* REVEIW */
.reveiw{
  padding: 60px 30px;
  background:#f1f0dc;
}
.reveiws{
  margin: 50px 0 0 0;
}
.reveiw-box{
  /* max-width: 360px; */
}
.reveiw-head{
  font-size: 40px;
  color: var(--primary);
    font-family: "Playfair Display", serif;
    text-align: center;
    text-transform: capitalize;
}
.reveiw-para {
    font-size: 16px;
    color: var(--primary);
    text-align: center;
    margin: 20px 0px;
}

.reveiw-name{
  font-size: 15px;
  color: var(--primary);
  font-family:"Playfair Display", serif ;
  text-align: center;
}
.r-rating {
    display: flex;
    gap: 7px;
    font-size: 14px;
    color: var(--primary);
    align-items: center;
    justify-content: center;
}
 /* apppointment */
 .apppointment{
  width: 100%;
  height: 1600px;
  position: relative;

 }
.apppointment img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.app-card{
  background: white;
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
padding: 20px;
text-align: center;
background:white;
max-width:1200px;
width: 60%;
margin:auto;
padding:60px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
}
.ac-head{
  font-size: 36px;
  color: var(--primary);
}
.ac-para{
  font-size: 15px;
  color: var(--primary);
  margin: 30px 0px;
}
.form-row{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
margin-bottom:40px;
}
.input-group{
display:flex;
flex-direction:column;
margin-bottom:40px;
}
.input-group label{
font-size:16px;
margin-bottom:12px;
color:#2b1a1a;
}
.input-group input,
.input-group select,
.input-group textarea{

border:none;
border-bottom:1px solid #b8b8b8;
padding:10px 0;
font-size:16px;
background:transparent;
outline:none;

}
input:focus,
select:focus,
textarea:focus{

border-bottom:2px solid #4b2c2c;

}

.message-box textarea{
resize:none;
}
.month-nav{

display:flex;
justify-content:space-between;
align-items:center;
margin:30px 0;
font-size:18px;

}

.arrow{
font-size:24px;
cursor:pointer;
}

.dates{

display:grid;
grid-template-columns:repeat(7,1fr);
gap:20px;
text-align:center;
margin-bottom:20px;

}
.week-days{

display:grid;
grid-template-columns:repeat(7,1fr);
text-align:center;
margin-bottom:20px;
font-weight:500;

}

.dates span{
cursor:pointer;
}

.dates{

display:grid;
grid-template-columns:repeat(7,1fr);
gap:20px;
text-align:center;
margin-bottom:20px;

}

.dates span{
cursor:pointer;
}
.active{

background:#4b2c2c;
color:white;
width:40px;
height:40px;

display:flex;
align-items:center;
justify-content:center;

margin:auto;

}

.selected-day{
margin-top:20px;
font-weight:500;
}

.time-slots{

display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
margin-top:20px;

}
.time-slots button{

padding:15px;
border:1px solid #4b2c2c;
background:transparent;
font-size:16px;
cursor:pointer;
transition:0.3s;

}
/* footer */
.foot{
  background: var(--light);
padding: 15px 0 30px 0;
}
.foot-left{
  width: 100%;
  height: 535px;
}
.foot-left img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.foot-para{
  color: var(--primary);
  font-size: 50px;
   font-family: "Playfair Display", serif;
   margin: 0 0 20px 0;
}
.foot-right{
  margin: 0 0 0 20px;
}

.foot-para-info{
  font-size: 24px;
  color:#502d35;
  padding: 16px 0;
}
.copy-right{
  background: var(--accent);
  color: var(--primary);
  padding: 5px 4px;
}
.cr-left a{
  font-size: 15px;
   font-family: 'Space Mono', monospace;
   color: var(--primary);
}
.cr-mid i{
  font-size: 24px;
}
.cr-span{
  font-size: 15px;
  font-family: 'Space Mono', monospace;
}
.divider{
  font-size: 14px;  
  margin: 0 5px;    
}


























@keyframes slideDown {
  0% {
    transform: translateY(-120px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1405px !important;
  }
}
@media (max-width: 768px) {
  .open h1 {
    font-size: 32px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .open {
    height: 80vh;
  }

  .property-left p {
    font-size: 16px;
    color: #fffa63;
  }
  .bglayer-1 {
    padding: 18px 0px;
  }
  .bglayer-1 h2 {
    font-size: 23px;
  }
  .bglayer-1 p {
    font-size: 13px;
  }
  .prop-info h3 {
    font-size: 20px;
    color: var(--primary);
    margin: 11px 0;
  }
  .foot-right {
    margin: 0 0 0 0px;
}
  .prop-info p {
    color: var(--primary);
    font-size: 13px;
    margin: 16px 0 19px 0;
  }
  .pi-about {
    padding: 1px 0px;
  }
  .pi-about span {
    font-size: 14px;
  }
  .prop-info {
    padding: 18px;
    background: white;
    top: 20px;
    left: 15px;
  }
  .container,
  /* .container-sm {
    max-width: 540px !important;
  } */
  .guidance-left h2 {
    font-size: 25px;
  }
  .guidance-left p {
    font-size: 13px;
  }
  .guidance {
    padding: 41px 0px;
  }
  .gr-text {
    padding: 13px 0px;
  }
  .g-para {
    font-size: 13px;
  }
  .g-head {
    font-size: 14px;
  }
  .g-num {
    font-size: 13px;
  }
  .gr-text {
    display: flex;
    align-items: center;
    gap: 7px;
    /* justify-content: space-between; */
    padding: 15px 0px;
    align-items: flex-start;
    border-bottom: 1px solid #502d35;
    border-top: 1px solid #502d35;
    flex-direction: column;
  }
  /* .author-card {
   padding: 0;
} */
  .auth-desc {
    font-size: 14px;
    color: var(--primary);
    text-align: center;
    margin: 12px 0 0 0;
    padding: 0px 13px 13px 13px;
  }
  .auth-name {
    font-size: 25px;
  }
.pc-btm {
    padding: 39px 27px 30px 25px;
}
  .port-btn{
    margin-bottom: 20px;
  }
  .sr-img {
    height: 400px;
}
.home-portfolio {
    background: var(--section-bg);
    padding: 10px 0px;
}
.sales-left {
    padding: 28px 30px 0px 20px;
}
.sales-left h2{
  font-size: 28px;
}
.si-head {
    font-size: 15px;
}
.reveiw {
    padding: 28px 8px;
}
.reveiw-head {
    font-size: 26px;
}
.reveiw-para {
    font-size: 15px;
    margin: 12px 0px;
}
.reveiw-name {
    font-size: 13px;
    margin-bottom: 24px;
}
    .ac-head {
        font-size: 17px;
        color: var(--primary);
    }
    .form-row {
    margin-bottom:0px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.app-card{
  padding: 10px 10px;
  width: 90%;
}
.time-slots button {
    padding: 10px;
    font-size: 12px;
}
.dates{
  gap: 10px;
}
.foot-para {
    font-size: 30px;
}
.foot-para-info {
    font-size: 18px;
    color: var(--primary);
    padding: 7px 0;
}
.cr-mid{
  margin: 10px 0;
}
.cr-left a {
    font-size: 13px;
}
.cr-span {
    font-size: 13px;
}
}














.pc-head {
  font-size: 15px;
}
.para-card {
  font-size: 14px;
  color: var(--primary);
}
.port-heading {
  font-size: 23px;
}

@media (max-width: 600px) {
    .auth-img {
        height: 150px;
        width: 150px;
        margin-left: 25%;
        margin-bottom: 20px;
    }
}
  .auth-name {
    font-size: 20px;
  }

@media (max-width: 500px) {
  .prop-img {
    height: 600px;
  }
}
/* /* @media(max-width:480px){
    .auth-img {
        margin-left: 37% !important;
    /* }  */

@media (max-width: 655px) {
  .para-prop {
    font-size: 14px;
    color: var(--primary);
    padding: 0px 0 10px 0;
    text-align: center;
  }

  .span-prop {
    color: #fffa63;
  }

    .open h1 {
        position: absolute;
        color: #fffa63;
        font-size: 30px;
        top: 11%;
        left: 34px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        margin: 10px 0 0 0;
    }

  .property {
    display: flex;
    justify-content: space-between;
    position: absolute;
    /* top: 20%; */
    bottom: 9%;
    left: 0;
    right: 0;
    padding: 0px 35px;
    flex-direction: column;
  }
  .property-right {
    gap: 10px;
    padding: 15px;
    /* background: white; */
    background: rgba(255, 255, 255, 0.15); /* transparency */

    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    margin: 20px 0 0 0;
    flex-direction: column;
  }
  .para-prop {
    font-size: 14px;
    color: #fffa63;
    padding: 0px 0 10px 0;
    text-align: center;
  }
  .property-left button {
    color: var(--primary);
    padding: 3px 7px;
    font-size: 16px;
    background: var(--accent);
    border: none;
    margin: 31px 0 0 0;
  }
  .pr-info {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .property-left p {
    font-size: 16px;
    color: #fffa63;
  }
  .prop-info {
    padding: 18px;
    background: white;
    top: 16px;
    left: 11px;
  }
}
@media (max-width: 480px) {
  .prop-img {
    height: 600px !important;
  }
  .author-card {
    background: white;
    padding:0px;
    text-align: center;
}
}

/* Remove default icon background */
.navbar-toggler {
  border: none;
  background: transparent;
}

/* Hamburger container */
.custom-toggler {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  padding: 0;
}

/* Hamburger lines */
.custom-toggler .bar {
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 3px;
  transition: all 0.4s ease;
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 769px) {
  .author-card {
    background: white;
    /* padding: 50px 418px; */
    padding: 0px;
  }
}
@media(max-width:898px){
  .ac-head {
    font-size: 22px;
    color: var(--primary);
}
.ac-para {
    font-size: 13px;
    color: var(--primary);
    margin: 30px 0px;
}
.input-group label {
    font-size: 14px;
    margin-bottom: 12px;
    color: #2b1a1a;
}
.input-group input, .input-group select, .input-group textarea {
    font-size: 14px;
  
}
}